
.banner {
  background-color: #efefef;
  color: black; 
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.highlight {
  color: #eb6b83; 
}


